
 body {
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  padding: 20px;
  }
  
  h1, h2, h3 {
  color: #ffffff;
  }


  ul {
  list-style-type: none;
  padding: 0;
  }

  li {
  margin-bottom: 10px;
  }

  p {
  color: #02d9ff;
  margin-bottom: 15px;
  }
  b {
    color: #0395f7;
  }
  strong {
    color: #0395f7;
  }